---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Game from '../components/Game.astro'
import Rules from '../components/Rules.astro'
---

<Layout title="Frontend Mentor | Rock, Paper, Scissors">
	<main>
		<Header />
		<Game />
		<Rules />
	</main>
</Layout>