---
import Rock from "../Choices/Rock.astro"
---

<div class="step-2">

  <div class="user-choice">
    <h1>You picked</h1>
    <div class="user-choice-wrapper">
      <div class="focus"></div>
      <Rock />
    </div>
  </div>
  
  <div class="results">
    <h1 class="game-result"></h1>
    <button class="play-again-btn">Play again</button>
  </div>
  
  <div class="house-choice">
    <h1>The house picked</h1>
    <div class="house-choice-wrapper">
      <div class="focus"></div>
      <Rock />
    </div>
  </div>

</div>

<style>
  .step-2 {
    display: none;
    padding-top: 2em;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr auto 1fr;
  }

  .house-choice {
    grid-column: 3;
  }

  .user-choice,
  .house-choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    padding-inline: 3.1em;
    animation: translate .35s forwards .8s;
  }

  h1 {
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.686);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-wrap: nowrap;
    z-index: 80;
  }

  .user-choice {
    transform: translateX(120px);
  }

  .house-choice {
    transform: translateX(-120px);
    z-index: -1;
  }

  .user-choice-wrapper,
  .house-choice-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .user-choice-wrapper::before,
  .house-choice-wrapper::before {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.138);
    width: 140px;
    height: 140px;
    border-radius: 100%;
  }

  .focus {
    --circle-1: 640px;
    --circle-2: 500px;
    --circle-3: 370px;

    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: var(--circle-1);
    height: var(--circle-1);
    border-radius: 100%;
    background-color: rgb(34, 49, 80, .4);
    scale: 0%;
  }
  
  .focus.active {
    display: flex;
    animation: zoom .4s forwards 1s
  }

  .focus::before {
    position: absolute;
    content: '';
    display: block;
    width: var(--circle-2);
    height: var(--circle-2);
    border-radius: 100%;
    background-color: rgb(38, 53, 84, .4);
  }

  .focus::after {
    position: absolute;
    content: '';
    display: block;
    width: var(--circle-3);
    height: var(--circle-3);
    border-radius: 100%;
    background-color: rgb(43, 56, 88, .5);
  }

  .results {
    display: flex;
    padding-top: 4em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 205px;
    gap: 1em;
    z-index: 80;
    opacity: 0;
    pointer-events: none;
    animation: fadeInPointer .3s forwards .9s
  }

  .game-result {
    font-size: 3em;
  }

  .results button {
    cursor: pointer;
    width: 100%;
    border: 0;
    background-color: white;
    border-radius: 10px;
    padding: .8em 0em;
    transition: color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .results button:hover {
    color: rgb(220, 46, 78)
  }

  @media(width <= 850px) {
    .step-2 {
      grid-template-columns: 1fr 1fr;
      row-gap: 4em;
    }

    .house-choice {
      grid-column: 2;
    }

    .user-choice,
    .house-choice {
      flex-direction: column-reverse;
      gap: 1em;
    }

    .focus {
      --circle-1: 400px;
      --circle-2: 330px;
      --circle-3: 250px;
    }

    .results {
      grid-row: 2;
      grid-column: span 2;
      width: fit-content;
      justify-self: center;
      padding-top: 0em;
    }

    .user-choice {
      transform: translateX(0px);
    }

    .house-choice {
      transform: translateX(0px);
    }
  }

  @media (width <= 600px) {
    .focus {
      --circle-1: 400px;
      --circle-2: 330px;
      --circle-3: 250px;
    }

    .house-choice,
    .user-choice {
      gap: 2em;
      padding-inline: 1em;
    }
  }
</style>