<div class="lizard choice">
  <img src="/icon-lizard.svg" alt="Lizard icon">
</div>

<style>
  .lizard {
    border: var(--border-size) solid var(--lizard);
    box-shadow: var(--shadow-size) var(--lizard-sh), var(--inner-shadow);
  }
</style>