<div class="lizard choice">
  <img src="/icon-lizard.svg" alt="Lizard icon">
</div>

<style>
  .lizard {
    background: linear-gradient(to top, var(--lizard-gd));
    box-shadow: var(--shadow) hsl(261, 54%, 36%);
  }
</style>