<div class="paper choice">
  <img src="/icon-paper.svg" alt="Paper icon">
</div>

<style>
  .paper {
    border: var(--border-size) solid var(--paper);
    box-shadow: var(--shadow-size) var(--paper-sh), var(--inner-shadow);
  }
</style>