<div class="paper choice">
  <img src="/icon-paper.svg" alt="Paper icon">
</div>

<style>
  .paper {
    background: linear-gradient(to top, var(--paper-gd));
    box-shadow: var(--shadow) rgb(42, 70, 193);
  }
</style>