<div class="rock choice">
  <img src="/icon-rock.svg" alt="Rock icon">
</div>

<style>
  .rock {
    background: linear-gradient(to top, var(--rock-gd));
    box-shadow: var(--shadow) rgb(159, 21, 54);
  }
</style>