<div class="rock choice">
  <img src="/icon-rock.svg" alt="Rock icon">
</div>

<style>
  .rock {
    border: var(--border-size) solid var(--rock);
    box-shadow: var(--shadow-size) var(--rock-sh), var(--inner-shadow);
  }
</style>