<div class="scissors choice">
  <img src="/icon-scissors.svg" alt="Scissors icon">
</div>

<style>
  .scissors {
    border: var(--border-size) solid var(--scissors);
    box-shadow: var(--shadow-size) var(--scissors-sh), var(--inner-shadow);
  }
</style>