<div class="scissors choice">
  <img src="/icon-scissors.svg" alt="Scissors icon">
</div>

<style>
  .scissors {
    background: linear-gradient(to top, var(--scissors-gd));
    box-shadow: var(--shadow) rgb(199, 108, 29);
  }
</style>