<div class="spock choice">
  <img src="/icon-spock.svg" alt="spock icon">
</div>

<style>
  .spock {
    background: linear-gradient(to top, var(--spock-gd));
    box-shadow: var(--shadow) hsl(189, 56%, 33%);
  }
</style>