<div class="spock choice">
  <img src="/icon-spock.svg" alt="spock icon">
</div>

<style>
  .spock {
    border: var(--border-size) solid var(--spock);
    box-shadow: var(--shadow-size) var(--spock-sh), var(--inner-shadow);
  }
</style>