---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	:root {
		--scissors: hsl(40, 84%, 53%);
		--scissors-sh: hsl(39, 89%, 49%);
		--paper: hsl(230, 89%, 65%);
		--paper-sh: hsl(230, 89%, 62%);
		--rock: hsl(349, 70%, 56%);
		--rock-sh: hsl(349, 71%, 52%);
		--lizard: hsl(261, 72%, 63%);
		--lizard-sh: hsl(261, 73%, 60%);
		--spock: hsl(189, 58%, 57%);
		--spock-sh: hsl(189, 59%, 53%);

		--dk-text: hsl(229, 25%, 31%);
		--score-text: hsl(229, 64%, 46%);
		--header-outline: hsl(217, 16%, 45%);

		--radial-gd: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
		--dk-radial-gd: rgba(13, 22, 36, 0.704), rgba(6, 6, 17, 0.704);

		--ff-html: "Barlow Semi Condensed", sans-serif;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeInPointer {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			pointer-events: all;
		}
	}

	@keyframes fadeOut {
		100% {
			opacity: 0;
		}
	}

	@keyframes translate {
		100% {
			transform: translateX(0px);
		}
	}

	@keyframes scoreUp {
		100% {
			transform: translateY(-30px);
			opacity: 0;
		}
	}

	@keyframes scoreDownUp {
		0% {
			transform: translateY(30px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	@keyframes scoreDown {
		100% {
			transform: translateY(30px);
			opacity: 0;
		}
	}

	@keyframes scoreUpDown {
		0% {
			transform: translateY(-30px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	@keyframes shake {
		35% {
			transform: translateX(5px);
		}
		65% {
			transform: translateX(-5px);
		}
		100% {
			transform: translateX(0px);
		}
	}

	@keyframes zoom {
		0%  {
			scale: 0%
		}
		100% {
			scale: 100%
		}
	}

	@keyframes zoomOut {
		100% {
			scale: 0%;
		}
	}

	* {
		margin: 0;
		padding: 0;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}

	input,
	textarea,
	button {
		font-family: inherit;
		font-size: inherit;
	}

	html {
		font-family: var(--ff-html);
		font-size: 16px;
		line-height: 1.5;
		overflow: hidden;
	}

	body {
		background: radial-gradient(ellipse at top, var(--radial-gd));
		min-height: 100dvh;
	}

	/* Utility classes */
	.container {
		--width: 690px;
		--padding: 1rem;

		width: min(var(--width), 100% - (var(--padding) * 2));
		margin-inline: auto;
	}
</style>
